name: Example CLI - Swift

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-15

    steps:
    - uses: actions/checkout@v5

    - name: Xcode setup
      shell: bash
      run: |
        sudo xcode-select -s /Applications/Xcode_16.3.app

    - name: Build
      run: |
        cd Example
        swift build -v
